@charset "utf-8";

.gNav {
    width: 100%;
    background-color: #1b1b1b;
    padding: 1.2rem 2rem;
    border-bottom: 1px solid $white-color;
    @include mq(l) {
        display: none;
    }
    
    .gNav_outer {
        width: 100%;
        margin:0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include mq(l) {
            display: none;
        }
        .gNav_logo {
            flex: 1;
            img {
                width: 150px;
            }
        }
        .gNav_list {
            // flex: 1;
            display: flex;
            justify-content: flex-end;
            gap: 60px;
            text-align: right;
            align-items: center;
            .gNav_listItem{
                color: #d7d7d7;
                font-size: 1.3rem;
                &:last-child {
                    background-color: $gray-color;
                    padding: 5px 6px;
                    border-radius: 20px;
                    text-align: center;
                    display: inline;
                    font-size: 1.2rem;
                    width: 80px;
                    position: relative;
                }
                
            }
            
        }

    }
}
    
    
